<div class=header>
  <h3 style="font-weight:bold;">Staff Records</h3>
</div>
<div align=center style="width:100vh; margin:auto">
  <div style="margin-top:20px">
    <form class="form-inline my-2 my-lg-0" [formGroup]="searchStaffRecordForm" (ngSubmit)="searchStaffRecord(searchStaffRecordForm)">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width:70vh;width:70%" formControlName="staffId">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>


<div class="container">

  <div>
    <div class=row style="width:100vh">
      <div class="col filter" style="background-color:rgb(67,67,67); color:white">Filter by Staff Record ID</div>
      <div class="col filter">Filter by Staff Name</div>
    </div>
  </div>

  <div class=row>
    <div class=col style="padding:0px;  height:55vh; overflow:hidden; width:100vh">
      <div class="panel-group" id="accordion" style="overflow:auto; height:55vh;padding-right: 15px; width:100vh">
        <div class="panel panel-default" style="width:95vh" *ngFor="let staffRecord of staffRecords">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#staffId{{staffRecord.staffId}}">Staff Record {{staffRecord.staffId}}</a>
            </h4>
          </div>
          <div id="staffId{{staffRecord.staffId}}" class="panel-collapse collapse">
            <div class="panel-body">First Name: {{staffRecord.firstName}}
              <br>Last Name: {{staffRecord.lastName}}
              <br>Username: {{staffRecord.staffUsername}}
              <br>Mobile Number: {{staffRecord.mobileNumber}}
              <br>Home Number: {{staffRecord.homeNumber}}
              <br>Street Address: {{staffRecord.streetAddress}}
              <br>Block Number: {{staffRecord.blockNumber}}
              <br>Unit Number: {{staffRecord.unitNumber}}
              <br>Postal Code: {{staffRecord.postalCode}}
              <br>Country: {{staffRecord.country}}
              <br>Staff Duty: {{staffRecord.duty}}

            </div>
          </div>
        </div>

      </div>


    </div>
    <div class=col-5 style="background-color:rgb(67,67,67)">
      <form class="form-inline my-2 my-lg-0" style="padding-top:140px; padding-left:40px">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter Room Number" aria-label="Enter Room Number" style="width:70vh;width:70%">
        <button class="btn btn-danger my-2 my-sm-0" type="submit" style="width:80px" routerLink="/SRecordForm">Edit</button>
      </form>
      <form class="form-inline my-2 my-lg-0" style="padding-top:10px; padding-left:40px">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter Room Number" aria-label="Enter Room Number" style="width:70vh;width:70%">
        <button class="btn btn-danger my-2 my-sm-0" type="submit" style="width:80px">Delete</button>
      </form>
    </div>
  </div>
</div>


<div style="margin-left:40px">
  <a routerLink="/SRecordForm">
    <h4 style="color:rgb(67,67,67); font-weight:bold;">
      <img src="https://cdn.discordapp.com/attachments/334883989426798603/541554629285117953/icons8-plus-30.png" style="vertical-align:text-bottom">&nbsp;&nbsp;Add New Record</h4>
  </a>
</div>