<div class=row>
  <div class="col requestCol">
    <table>
      <tr>
      <th style="color:rgb(164, 46, 46); font-size:20pt;" colspan=3>
        <div align=center>
        Housekeeping Requests
        </div>
      </th>
    </tr>
      <tr>
        <th>
          Room Number
        </th>
        <th>
          Housekeeping Status
        </th>
        <th rowspan=10 style="background-color:rgb(164, 46, 46); vertical-align:bottom">

        </th>
      </tr>
      <tr>
        <td>
          a
        </td>
        <td>
          b
        </td>
      </tr>
    </table>
  </div>
  
  <div class="col housekeepingCol">
    <div>

    </div>
  </div>
</div>