.loginBox{
    width: 30%;
    margin: auto;
    margin-top: 120px;
    border-width: 1.5px; 
    border-color: white;
    border-style: solid;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    border-radius: 0px;
    color: #aa2e2e; 
    box-shadow: 2px 2px 12px gray;

}

.btn1{
    background-color:#aa2e2e;
    color:white;
    width: 100%;
}