<div class="loginBox">
  <h4 align=center>Staff Login</h4><br>
  <form>
      <div class="form-group row">
        <div class="col">
          <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
      </div>
      <div class="form-group row">
          <div class="col">
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>
        </div>
        <div align=center>
        <button type="button" class="btn btn1 row">Login</button>
      </div>
      </form>
</div>