<div class="banner1">
  <div style="position:absolute; margin-left:30px;margin-top:20px">
  <a (click)="openNav()">
    <img src="https://cdn.discordapp.com/attachments/530989871649652761/541242449121771540/icons8-menu-30.png">
  </a>
  </div>
  <div align=center>
    <img src="https://cdn.discordapp.com/attachments/212893004740952065/541237703518453760/Delonix_Regia_Logo_2.png" style="height:150px;">
  </div>
</div>
<div style="padding-top:130px">
<router-outlet></router-outlet>
</div>
<div id="mySidenav" class="sidenav">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <a (click)="closeNav()" routerLink="/Home"><table><tr><td><img src="https://media.discordapp.net/attachments/212893004740952065/541265243800600576/HomeLogo.png" style="width:30px; margin-right:5px "></td><td>Dashboard</td></tr></table></a><hr style="width:230px; background-color:white">
  <a (click)="closeNav()" routerLink="/GuestAccount"><table><tr><td><img src="https://cdn.discordapp.com/attachments/212893004740952065/541265240726306846/GuestAccountsLogo.png" style="width:30px; margin-right:5px "></td><td>Guest Accounts</td></tr></table></a>
  <a (click)="closeNav()" routerLink="/StaffAccount"><table><tr><td><img src="https://cdn.discordapp.com/attachments/212893004740952065/541265249836204034/StaffAccountsLogo.png" style="width:30px; margin-right:5px "></td><td>Staff Accounts</td></tr></table></a><hr style="width:230px; background-color:white">
  <a (click)="closeNav()" routerLink="/GRecord"><table><tr><td><img src="https://media.discordapp.net/attachments/212893004740952065/541265242399834114/GuestRecordsLogo.png" style="width:30px; margin-right:5px "></td><td>Guest Records</td></tr></table></a>
  <a (click)="closeNav()" routerLink="/SRecord"><table><tr><td><img src="https://media.discordapp.net/attachments/212893004740952065/541265251769778207/StaffRecordsLogo.png" style="width:30px; margin-right:5px "></td><td>Staff Records</td></tr></table></a><hr style="width:230px; background-color:white">
  <a (click)="closeNav()" routerLink="/PaymentInvoiceRecord"><table><tr><td><img src="https://media.discordapp.net/attachments/212893004740952065/541265247403638784/PaymentInvoiceLogo.png" style="width:30px; margin-right:5px "></td><td>Payment Invoice Records</td></tr></table></a><hr style="width:230px; background-color:white">
  <a (click)="closeNav()" routerLink="/BookRecord"><table><tr><td><img src="https://cdn.discordapp.com/attachments/212893004740952065/541264717658980368/BookingRecordsLogo.png" style="width:30px; margin-right:5px "></td><td>Booking Records</td></tr></table></a><hr style="width:230px; background-color:white">
  <a (click)="closeNav()" routerLink="/RoomService"><table><tr><td><img src="https://media.discordapp.net/attachments/212893004740952065/541265245583441940/HouseKeepingLogo.png" style="width:30px; margin-right:5px "></td><td>Housekeeping & Roomservice Records</td></tr></table></a><hr style="width:230px; background-color:white">
  <a (click)="closeNav()" routerLink="/Report"><table><tr><td><img src="https://media.discordapp.net/attachments/212893004740952065/541265248850673685/ReportsLogo.png" style="width:30px; margin-right:5px "></td><td>Reports</td></tr></table></a>
</div>

<!-- Use any element to open tde sidenav -->