<div>
  <h3 class="header">Staff Records Form</h3>
  <div>
    <h4 align=center>Staff Record ID: </h4>
    <div class="sRecordId">
      <form [formGroup]="staffRecordsForm" (ngSubmit)="createStaffRecord(staffRecordsForm)">
        <div class="row">
          <div class="col">
            <u>Name</u>
            <div class="form-group">
              <label for="firstName" class="col col-form-label">First Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
              </div>
            </div>
            <div class="form-group">
              <label for="lastName" class="col col-form-label">Last Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
              </div>
            </div><br>
            <hr style="width: 80%; background-color: black;">
            <u>Contact</u>
            <div class="form-group">
              <label for="mNumber" class="col col-form-label">Mobile Number</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="mNumber" formControlName="mobileNumber">
              </div>
            </div>
            <div class="form-group">
              <label for="hNumber" class="col col-form-label">Home Number</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="hNumber" formControlName="homeNumber">
              </div>
            </div><br>
            <hr style="width: 80%; background-color: black;">
            <u>Username</u>
            <div class="form-group">
              <label for="username" class="col col-form-label">Staff Username</label>
              <div class="col-sm-10">
                <select class="form-control" id="username" formControlName="staffUsername">
                  <option value="0">Select Username</option>
                  <option value="1">Username 1</option>
                  <option value="2">Username 2</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col">
            <u>Address</u>
            <div class="form-group">
              <label for="streetAddress" class="col col-form-label">Street Address</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="streetAddress" formControlName="streetAddress">
              </div>
            </div>
            <div class="form-group">
              <label for="blockNumber" class="col col-form-label">Block Number</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="blockNumber" formControlName="blockNumber">
              </div>
            </div>
            <div class="form-group">
              <label for="unitNumber" class="col col-form-label">Unit Number</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="unitNumber" formControlName="unitNumber">
              </div>
            </div>
            <div class="form-group">
              <label for="postalCode" class="col col-form-label">Postal Code</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
              </div>
            </div>
            <div class="form-group">
              <label for="country" class="col col-form-label">Country</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="country" formControlName="country">
              </div>
            </div><br>
            <hr style="width: 80%; background-color: black;">
            <u>Duty</u>
            <div class="form-group">
              <label for="duty" class="col col-form-label">Staff Duty</label>
              <div class="col-sm-10">
                  <input type="radio" name="duty" id="staffDuty" value="General Maintenance" formControlName="duty">General Maintenance
                  <br>
                  <input type="radio" name="duty" id="staffDuty" value="Room Maintenance" formControlName="duty">Room Maintenance
                  <br>
                  <input type="radio" name="duty" id="staffDuty" value="Estates Maintenance" formControlName="duty">Estates Maintenance
                  <br>
                  <input type="radio" name="duty" id="staffDuty" value="Security" formControlName="duty">Security
                  <br>
              </div>
            </div>

          </div>
        </div>
        <div align=right>
          <button type="button" class="btn btn-outline-danger  row-sm-10">Discard Changes</button>

          <button type="submit" class="btn btn-danger row-sm-10" >Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>