<div class="row homeBox">
  <div class="col box1">
    <h4>Notifications</h4>
    <br>
    <div class="notifBox">
      Notification 1
    </div>
    <div class="notifBox">
      Notification 2
    </div>
    <div class="notifBox">
      Notification 3
    </div>
    <div class="notifBox">
      Notification 4
    </div>
    <div class="notifBox">
      Notification 5
    </div>

  </div>
  <div class="col box2">
    <h4>Notes</h4>
    <br>
    <div>
      <textarea class="txtA" placeholder="Enter anything to take note of later"></textarea>
    </div>
  </div>
  <div class="col box3">
    <h4>Announcements</h4>
    <br>
    <div class="announceBox">
      <h4>Title</h4>
      <p>date</p>
    </div>
    <br>
    <div align=right>
      <button style="background-color: transparent; border-color: transparent;">
        <img class="imageIcon" src="https://cdn.discordapp.com/attachments/530989871649652761/541622821244239902/plus-512.png">
      </button>
    </div>
  </div>
</div>