<div class="registerBox">
  <h4 align=center>Staff Register</h4>
  <br>
  <form [formGroup]="staffRegisterForm" (ngSubmit)="onStaffSubmit(staffRegisterForm)">
    <div class="form-group row">
      <div class="col">
        <input type="text" class="form-control" formControlName="username" id="username" placeholder="Username">
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <input type="text" class="form-control" formControlName="adminCode" id="adminCode" placeholder="Admin Code">
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <select class="form-control" id="selectRole" formControlName="role">
          <option value="0">Select Role</option>
          <option value="admin">Admin</option>
          <option value="staff">Staff</option>
        </select>
      </div>
    </div>
    <div align=center>
      <button type="submit" class="btn btn1 row" [disabled]="!staffRegisterForm.valid">Register</button>
    </div>
  </form>
</div>